* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.filter-main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.filter-main-container1 {
  width: 250px;

  margin-left: 20px;
}
.range {
  width: 200px;
}
.filter-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
  margin-top: 20px;
}
.filter-header p {
  text-decoration: underline;
}
.filter-price {
  text-align: start;
}
.price-range {
  margin-top: 10px;
}
.filter-category {
  text-align: start;
}
.filter-rating {
  text-align: start;
}
.filter-sort {
  text-align: start;
}
.filter-container {
  position: fixed;
}
