*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wishlist-main-container{
   
    display: flex;
    justify-content: center;
    
    overflow: hidden;
    margin-top:50px;
}
.wishlist-header{
    margin-top:20px;
}
.wishlist-card-container{
    border:1px solid black;
    width:200px;
    overflow: hidden;
}
