* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-container {
  position: sticky;
  top: 0;
  z-index: 1;
}
.nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  border: 1px solid black;
  height: 80px;
  background-color: rgb(202, 162, 241);
}
.link-container {
  text-decoration: none;
  margin: 20px 60px;
  font-size: 2rem;
  position: relative;
  left: -30px;
}
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
}

.input-search {
  padding: 5px 20px;
  width: 330px;
  border-radius: 2rem;
}
.input-search::placeholder {
  padding: 0px 20px;
  font-size: 1rem;
}
.navbar-unordered-list {
  display: flex;
  align-items: center;
  list-style: none;
  width: 200px;
  margin: 10px 10px;
  gap: 40px;
}
